<template is="dom-if" if="{{_error}}">
    <span class="error">
        <zen-icon type="error" color="error"></zen-icon>
        {{_error}}
    </span>
</template>

<template is="dom-if" if="{{field.label}}"> <span class="label">{{field.label}}</span> </template>


<!-- Fields -->

<template is="dom-if" if="{{_is(field.type, 'text', 'number', 'password', 'email')}}">
    <zen-input type="{{field.type}}" icon="{{field.icon}}" value="{{value::change}}"></zen-input>
</template>

<template is="dom-if" if="{{_is(field.type, 'textarea')}}">
    <textarea value="{{value::change}}"></textarea>
</template>

<template is="dom-if" if="{{_is(field.type, 'submit')}}">
    zen-button
</template>

<template is="dom-if" if="{{_is(field.type, 'select')}}">
    <zen-select value="{{value::change}}" options="{{field.options}}"></zen-select>
</template>

<template is="dom-if" if="{{_is(field.type, 'checkbox')}}">
    <zen-checkbox checked="{{value::change}}"></zen-checkbox>
    <span>{{field.label}}</span>
</template>

<template is="dom-if" if="{{_is(field.type, 'radio')}}">
    <zen-radio value="{{value::change}}" options="{{field.options}}"></zen-radio>
</template>

<template is="dom-if" if="{{_is(field.type, 'radio-tabs')}}">
    <zen-radio-tabs value="{{value::change}}" options="{{field.options}}"></zen-radio-tabs>
</template>

<template is="dom-if" if="{{_is(field.type, 'radio-icons')}}">
    <zen-radio-icons value="{{value::change}}" options="{{field.options}}"></zen-radio-icons>
</template>

<template is="dom-if" if="{{_is(field.type, 'autocomplete')}}">
    <zen-autocomplete
        icon="{{field.icon}}"
        value="{{value::change}}"
        minlength="{{field.minlength}}"
    ></zen-autocomplete>
</template>


