.DS_Store
*.log
/.*_cache

node_modules
.vscode
dist/
.rpt*
*-css.ts

scripts/build

packages/*/*
!packages/*/src
!packages/*/.npmignore
!packages/*/jest.config.js
!packages/*/package.json
!packages/*/README.md
!packages/*/tsconfig.json
!packages/*/tslint.json
!packages/*/*.sh
