**/tsconfig.json
**/tslint.json
**/rollup.config.js
.rpt*
node_modules

test/
packages/
.gitignore
css-template.ts

lib/**/*.ts
!lib/**/*.d.ts

util/**/*.ts
!util/**/*.d.ts

packages/*/coverage
packages/*/build
packages/*/lib

/rollup
