<template is="dom-if" if="{{error}}">
    <zen-icon type="error" color="error"></zen-icon>
    <span>{{error}}</span>
</template>

<form novalidate on-submit="submit">
    <dom-repeat items="{{fields}}" as="field">
        <template>
            <zen-form-row
                field="{{field}}"
                value="{{_fieldValue(values, field)}}"
                on-change="_handleChange"
                name="{{field.name}}"
                error="{{_fieldError(_fieldErrors, field)}}"
            ></zen-form-row>
        </template>
    </dom-repeat>
</form>
