@import '~zen-css/import';
ul.options {
    @extend %reset;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(var(--radio-icons-columns, 3), 1fr);
    grid-gap: 2rem;


    li.option {
        position: relative;
        text-align: center;
        cursor: pointer;
        border: var(--border-200);
        border-radius: var(--border-radius);
        padding: var(--size-tiny) 0;
        transition: all default('transition-time');
        background-color: var(--radio-icons-bg);
        box-shadow: var(--radio-icons-shadow);

         &:before {
            @extend %cover;
            content: '';
            background-color: var(--color-main);
            opacity: 0;
            transition: all default('transition-time');
        }

        &.active {
            border: var(--border-main);
            &:before {
                opacity: 0.2;
            }
        }

        .img {
            position: relative;
            &, img, & * {
                max-height: calc(var(--size-super) * 1.5);
            }
        }
        & > span {
            display: inline-block;
            margin-top: var(--size-small);
            white-space: normal;
        }
    }
}
