:host {
    display: block;
    zen-ui-button {
        display: inline-block;
        margin-right: var(--size-small);
    }
}

:host([align=right]) {
    zen-ui-button {
        margin-right: 0;
        margin-left: var(--size-small);
    }
}

