@import '~zen-css/import';
:host {
    @extend %comp-button;

    zen-ui-icon {
        margin-right: var(--size--tiny);
    }

    .loading {
        --loading-color: var(--color-white);
        --loading-size: 1.5rem;
        margin: auto;
        transform: translateY(1rem);
        @extend %comp-loading;
    }
}

:host([disabled]) {
    opacity: 0.5;
    pointer-events: none;
}
