@import 'zen-css/import';

:host {
    user-select: none;
    & { @extend %reset; }
    .option {
        text-align: left;
    }

    zen-icon[type="radio-checked"]:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: default('color-main');
        opacity: 0;
        border-radius: 50%;
        animation: radio-check calc(#{default('transition-time')} * 3 / 4) ease-out;
    }

    @keyframes radio-check {
        from {
            transform: scale(0.5);
            opacity: 1;
        }
        to {
            transform: scale(1);
            opacity: 0;
        }
    }
}
