@import '~zen-css/import';
:host {
    display: block;
    input {
        @extend %comp-form-input-general;
        outline: none;
        box-sizing: border-box;
        padding-left: var(--input-padding-left, var(--input-padding));
    }
}
