@import 'zen-css/import';

:host {
    display: block;
    position: relative;
    text-align: left;
    &, * {
        box-sizing: border-box;
    }

    .value {
        @extend %comp-form-input-general;
        .placeholder {
            color: default('color-grey-200');
        }
    }

    zen-icon {
        position: absolute;
        top: default('size-tiny');
        right: default('size-tiny');
    }
}
