@import '~zen-css/import';

:host {
    position: relative;
    display: block;
    height: var(--input-height);

    &, * { @extend %reset; }

    input {
        @extend %comp-form-input-general;
        padding-left: var(--autocomplete-padding-left);
    }

    ul.results {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border: var(--input-border);
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 100;
        background-color: var(--color-white);

        &:empty {
            display: none;
        }

        li {
            list-style: none;
            height: var(--size-main);
            line-height: var(--size-main);
            border-bottom: var(--border-100);
            padding: 0 var(--size-small);
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover, &.active {
                background-color: var(--color-hover);
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
