@import 'zen-css/import';

$br: var(--tooltip-border-radius, default('border-radius'));
:host {
  --arrow-size: 1rem;
  position: fixed;
  border-radius: $br;
  background-color: var(--tooltip-bg, default('color-white'));
  box-shadow: var(--tooltip-shadow, default('shadow-main-soft'));
  padding: var(--tooltip-padding, default('size-tiny'));

  visibility: hidden;
  opacity: 0;

  z-index: 999;

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid white;
    box-shadow: var(--tooltip-shadow, default('shadow-main-soft'));
  }
}

:host-context([position^='top']),
:host-context([position^='bottom']) {
  transform: translateX(-50%);
}
:host-context([position^='left']),
:host-context([position^='right']) {
  transform: translateY(-50%);
}

:host-context([position^='top']):before {
  top: 100%;
}
:host-context([position^='bottom']):before {
  bottom: 100%;
  transform: rotate(180deg);
}
:host-context([position$='-top']):before {
  bottom: $br;
}
:host-context([position$='-bottom']):before {
  top: $br;
}

:host-context([position^='right']):before {
  right: calc(100% - var(--arrow-size) / 2);
  transform: rotate(90deg);
}
:host-context([position^='left']):before {
  left: calc(100% - var(--arrow-size) / 2);
  transform: rotate(270deg);
}
:host-context([position$='-right']):before {
  left: $br;
}
:host-context([position$='-left']):before {
  right: $br;
}

:host-context([position='bottom']):before,
:host-context([position='top']):before {
  left: 50%;
  margin-left: -1rem;
}

:host-context([position='right']):before,
:host-context([position='left']):before {
  top: 50%;
  margin-top: -0.5rem;
}

:host-context([show]) {
  animation: tooltip-fade default('transition-time') forwards;
  opacity: 1;
  visibility: visible;
}

@keyframes tooltip-fade {
  from {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes tooltip-up {
  from {
    visibility: visible;
    opacity: 0;
    margin-top: 2px;
  }
  to {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}
