@import 'zen-css/import';

:host {
    position: relative;
    @extend %comp-form-input-general;
    text-align: center;
    height: 20rem;
    cursor: pointer;

    input {
        @extend %cover;
        opacity: 0;
        cursor: pointer;
    }

    zen-icon {
        height: 100%;
        width: 100%;
    }

    img {
        @extend %cover;
        object-fit: contain;
        border: none;
    }
}
