@import 'zen-css/import';

:host {
  display: block;
  position: relative;
  @extend %comp-form-input-general;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;

  &,
  * {
    @extend %reset;
  }

  input {
    @extend %cover;
    opacity: 0;
    cursor: pointer;
  }

  span {
    margin-left: default('size-tiny');
    vertical-align: middle;

    &:empty {
      &:after {
        content: 'No color selected';
        color: default('color-grey-300');
      }
    }
  }

  .color {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: default('input-height');
    height: default('input-height');
    zen-icon {
      @extend %center;
    }
  }

  img {
    @extend %cover;
    object-fit: contain;
    border: none;
  }
}
