@import '~zen-css/import';
:host {
    display: block;
    @extend %comp-form;
}

span.error {
    display: block;
    margin-bottom: 1rem;

    &:empty { display: none; }
}


wc-wysiwyg {
    background-color: var(--color-main-offset);
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
}
