@import '~zen-css/import';
:host {
    display: block;
    @extend %comp-form;
}

span.error {
    display: block;
    margin-bottom: var(--size-small);
    color: var(--color-error);
    zen-ui-icon, zen-ui-icon + span { vertical-align: middle; }

    &:empty { display: none; }
}


wc-wysiwyg {
    background-color: var(--color-main-offset);
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
}
